<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    <h1>Welcome, {{name}}!</h1>
    <p>Age: {{age}}</p>
    
    {{#if hobbies}}
    <h2>Hobbies:</h2>
    <ul>
        {{#each hobbies}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{else}}
    <p>No hobbies found.</p>
    {{/if}}
    
    {{#if address}}
    <h2>Address:</h2>
    <p>
        {{address.street}}<br>
        {{address.city}}, {{address.state}} {{address.zip}}
    </p>
    {{/if}}
</body>
</html>